In [55]:
import pandas as pd

#set options of for data
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

#read csv files into dataframes
game_log = pd.read_csv("game_log.csv")
park_codes = pd.read_csv("park_codes.csv")
person_codes = pd.read_csv("person_codes.csv")
team_codes = pd.read_csv("team_codes.csv")

/dataquest/system/env/python3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### EDA of Data

In [56]:
print(">>> Game Log <<<")
game_log.shape
print(game_log.head())
print(game_log.tail())

>>> Game Log <<<
       date  number_of_game day_of_week v_name v_league  v_game_number h_name  \
0  18710504               0         Thu    CL1      NaN              1    FW1
1  18710505               0         Fri    BS1      NaN              1    WS3
2  18710506               0         Sat    CL1      NaN              2    RC1
3  18710508               0         Mon    CL1      NaN              3    CH1
4  18710509               0         Tue    BS1      NaN              2    TRO

  h_league  h_game_number  v_score  h_score  length_outs day_night completion  \
0      NaN              1        0        2         54.0         D        NaN
1      NaN              1       20       18         54.0         D        NaN
2      NaN              1       12        4         54.0         D        NaN
3      NaN              1       12       14         54.0         D        NaN
4      NaN              1        9        5         54.0         D        NaN

  forefeit protest park_id  attendance  length_minutes v_line_score  \
0      NaN     NaN   FOR01       200.0           120.0    000000000
1      NaN     NaN   WAS01      5000.0           145.0    107000435
2      NaN     NaN   RCK01      1000.0           140.0    610020003
3      NaN     NaN   CHI01      5000.0           150.0    101403111
4      NaN     NaN   TRO01      3250.0           145.0    000002232

  h_line_score  v_at_bats  v_hits  v_doubles  v_triples  v_homeruns  v_rbi  \
0    010010000       30.0     4.0        1.0        0.0         0.0    0.0
1    640113030       41.0    13.0        1.0        2.0         0.0   13.0
2    010020100       49.0    11.0        1.0        1.0         0.0    8.0
3    077000000       46.0    15.0        2.0        1.0         2.0   10.0
4    101003000       46.0    17.0        4.0        1.0         0.0    6.0

   v_sacrifice_hits  v_sacrifice_flies  v_hit_by_pitch  v_walks  \
0               0.0                0.0             0.0      1.0
1               0.0                0.0             0.0     18.0
2               0.0                0.0             0.0      0.0
3               0.0                0.0             0.0      0.0
4               0.0                0.0             0.0      2.0

   v_intentional_walks  v_strikeouts  v_stolen_bases  v_caught_stealing  \
0                  NaN           6.0             1.0                NaN
1                  NaN           5.0             3.0                NaN
2                  NaN           1.0             0.0                NaN
3                  NaN           1.0             0.0                NaN
4                  NaN           0.0             1.0                NaN

   v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
0                    -1.0                           NaN             4.0
1                    -1.0                           NaN            12.0
2                    -1.0                           NaN            10.0
3                    -1.0                           NaN             7.0
4                    -1.0                           NaN            12.0

   v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
0              1.0                       1.0                 1.0
1              1.0                       6.0                 6.0
2              1.0                       0.0                 0.0
3              1.0                       6.0                 6.0
4              1.0                       2.0                 2.0

   v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  v_passed_balls  \
0             0.0      0.0       27.0        9.0       0.0             3.0
1             1.0      0.0       27.0       13.0      10.0             1.0
2             2.0      0.0       27.0       12.0       8.0             5.0
3             0.0      0.0       27.0       15.0      11.0             6.0
4             0.0      0.0       27.0       12.0       5.0             0.0

   v_double_plays  v_triple_plays  h_at_bats  h_hits  h_doubles  h_triples  \
0             0.0             0.0       31.0     4.0        1.0        0.0
1             2.0             0.0       49.0    14.0        2.0        0.0
2             0.0             0.0       36.0     7.0        2.0        1.0
3             0.0             0.0       43.0    11.0        2.0        0.0
4             1.0             0.0       36.0     9.0        0.0        0.0

   h_homeruns  h_rbi  h_sacrifice_hits  h_sacrifice_flies  h_hit_by_pitch  \
0         0.0    2.0               0.0                0.0             0.0
1         0.0   11.0               0.0                0.0             0.0
2         0.0    2.0               0.0                0.0             0.0
3         0.0    8.0               0.0                0.0             0.0
4         0.0    2.0               0.0                0.0             0.0

   h_walks  h_intentional_walks  h_strikeouts  h_stolen_bases  \
0      1.0                  NaN           0.0             0.0
1     10.0                  NaN           2.0             1.0
2      0.0                  NaN           3.0             5.0
3      4.0                  NaN           2.0             1.0
4      3.0                  NaN           0.0             2.0

   h_caught_stealing  h_grounded_into_double  h_first_catcher_interference  \
0                NaN                    -1.0                           NaN
1                NaN                    -1.0                           NaN
2                NaN                    -1.0                           NaN
3                NaN                    -1.0                           NaN
4                NaN                    -1.0                           NaN

   h_left_on_base  h_pitchers_used  h_individual_earned_runs  \
0             3.0              1.0                       0.0
1            14.0              1.0                       7.0
2             5.0              1.0                       3.0
3             6.0              1.0                       4.0
4             7.0              1.0                       3.0

   h_team_earned_runs  h_wild_pitches  h_balks  h_putouts  h_assists  \
0                 0.0             0.0      0.0       27.0        3.0
1                 7.0             0.0      0.0       27.0       20.0
2                 3.0             1.0      0.0       27.0       12.0
3                 4.0             0.0      0.0       27.0       14.0
4                 3.0             1.0      0.0       27.0       11.0

   h_errors  h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
0       3.0             1.0             1.0             0.0     boakj901
1      10.0             2.0             3.0             0.0     dobsh901
2      13.0             3.0             0.0             0.0     mawnj901
3       7.0             2.0             0.0             0.0     willg901
4       7.0             3.0             0.0             0.0     leroi901

    hp_umpire_name 1b_umpire_id 1b_umpire_name 2b_umpire_id 2b_umpire_name  \
0       John Boake          NaN            NaN          NaN            NaN
1     Henry Dobson          NaN            NaN          NaN            NaN
2       J.H. Manny          NaN            NaN          NaN            NaN
3  Gardner Willard          NaN            NaN          NaN            NaN
4      Isaac Leroy          NaN            NaN          NaN            NaN

  3b_umpire_id 3b_umpire_name lf_umpire_id lf_umpire_name rf_umpire_id  \
0          NaN            NaN          NaN            NaN          NaN
1          NaN            NaN          NaN            NaN          NaN
2          NaN            NaN          NaN            NaN          NaN
3          NaN            NaN          NaN            NaN          NaN
4          NaN            NaN          NaN            NaN          NaN

  rf_umpire_name v_manager_id v_manager_name h_manager_id  h_manager_name  \
0            NaN     paboc101  Charlie Pabor     lennb101     Bill Lennon
1            NaN     wrigh101   Harry Wright     younn801      Nick Young
2            NaN     paboc101  Charlie Pabor     hasts101  Scott Hastings
3            NaN     paboc101  Charlie Pabor     woodj106      Jimmy Wood
4            NaN     wrigh101   Harry Wright     pikel101        Lip Pike

  winning_pitcher_id winning_pitcher_name losing_pitcher_id  \
0           mathb101        Bobby Mathews          prata101
1           spala101          Al Spalding          braia102
2           prata101             Al Pratt          fishc102
3           zettg101      George Zettlein          prata101
4           spala101          Al Spalding          mcmuj101

  losing_pitcher_name saving_pitcher_id saving_pitcher_name  \
0            Al Pratt               NaN                 NaN
1        Asa Brainard               NaN                 NaN
2     Cherokee Fisher               NaN                 NaN
3            Al Pratt               NaN                 NaN
4       John McMullin               NaN                 NaN

  winning_rbi_batter_id winning_rbi_batter_id_name v_starting_pitcher_id  \
0                   NaN                        NaN              prata101
1                   NaN                        NaN              spala101
2                   NaN                        NaN              prata101
3                   NaN                        NaN              prata101
4                   NaN                        NaN              spala101

  v_starting_pitcher_name h_starting_pitcher_id h_starting_pitcher_name  \
0                Al Pratt              mathb101           Bobby Mathews
1             Al Spalding              braia102            Asa Brainard
2                Al Pratt              fishc102         Cherokee Fisher
3                Al Pratt              zettg101         George Zettlein
4             Al Spalding              mcmuj101           John McMullin

  v_player_1_id v_player_1_name  v_player_1_def_pos v_player_2_id  \
0      whitd102    Deacon White                 2.0      kimbg101
1      wrigg101   George Wright                 6.0      barnr102
2      whitd102    Deacon White                 2.0      kimbg101
3      whitd102    Deacon White                 2.0      kimbg101
4      wrigg101   George Wright                 6.0      barnr102

  v_player_2_name  v_player_2_def_pos v_player_3_id v_player_3_name  \
0    Gene Kimball                 4.0      paboc101   Charlie Pabor
1     Ross Barnes                 4.0      birdd102   Dave Birdsall
2    Gene Kimball                 4.0      paboc101   Charlie Pabor
3    Gene Kimball                 4.0      paboc101   Charlie Pabor
4     Ross Barnes                 4.0      birdd102   Dave Birdsall

   v_player_3_def_pos v_player_4_id v_player_4_name  v_player_4_def_pos  \
0                 7.0      allia101     Art Allison                 8.0
1                 9.0      mcvec101       Cal McVey                 2.0
2                 7.0      allia101     Art Allison                 8.0
3                 7.0      allia101     Art Allison                 8.0
4                 9.0      mcvec101       Cal McVey                 2.0

  v_player_5_id v_player_5_name  v_player_5_def_pos v_player_6_id  \
0      white104     Elmer White                 9.0      prata101
1      wrigh101    Harry Wright                 8.0      goulc101
2      white104     Elmer White                 9.0      prata101
3      white104     Elmer White                 9.0      prata101
4      wrigh101    Harry Wright                 8.0      goulc101

  v_player_6_name  v_player_6_def_pos v_player_7_id v_player_7_name  \
0        Al Pratt                 1.0      sutte101     Ezra Sutton
1   Charlie Gould                 3.0      schah101   Harry Schafer
2        Al Pratt                 1.0      sutte101     Ezra Sutton
3        Al Pratt                 1.0      sutte101     Ezra Sutton
4   Charlie Gould                 3.0      schah101   Harry Schafer

   v_player_7_def_pos v_player_8_id v_player_8_name  v_player_8_def_pos  \
0                 5.0      carlj102    Jim Carleton                 3.0
1                 5.0      conef101       Fred Cone                 7.0
2                 5.0      carlj102    Jim Carleton                 3.0
3                 5.0      carlj102    Jim Carleton                 3.0
4                 5.0      conef101       Fred Cone                 7.0

  v_player_9_id v_player_9_name  v_player_9_def_pos h_player_1_id  \
0      bassj101       John Bass                 6.0      selmf101
1      spala101     Al Spalding                 1.0      watef102
2      bassj101       John Bass                 6.0      mackd101
3      bassj101       John Bass                 6.0      mcatb101
4      spala101     Al Spalding                 1.0      flync101

  h_player_1_name  h_player_1_def_pos h_player_2_id h_player_2_name  \
0   Frank Sellman                 5.0      mathb101   Bobby Mathews
1   Fred Waterman                 5.0      forcd101      Davy Force
2      Denny Mack                 3.0      addyb101        Bob Addy
3      Bub McAtee                 3.0      kingm101   Marshall King
4   Clipper Flynn                 9.0      mcgem101    Mike McGeary

   h_player_2_def_pos h_player_3_id  h_player_3_name  h_player_3_def_pos  \
0                 1.0      foraj101        Jim Foran                 3.0
1                 6.0      mille105    Everett Mills                 3.0
2                 4.0      fishc102  Cherokee Fisher                 1.0
3                 8.0      hodec101    Charlie Hodes                 2.0
4                 2.0      yorkt101         Tom York                 8.0

  h_player_4_id  h_player_4_name  h_player_4_def_pos h_player_5_id  \
0      goldw101  Wally Goldsmith                 6.0      lennb101
1      allid101     Doug Allison                 2.0      hallg101
2      hasts101   Scott Hastings                 8.0      ham-r101
3      woodj106       Jimmy Wood                 4.0      simmj101
4      mcmuj101    John McMullin                 1.0      kings101

  h_player_5_name  h_player_5_def_pos h_player_6_id h_player_6_name  \
0     Bill Lennon                 2.0      caret101       Tom Carey
1     George Hall                 7.0      leona101    Andy Leonard
2       Ralph Ham                 5.0      ansoc101       Cap Anson
3     Joe Simmons                 9.0      folet101       Tom Foley
4      Steve King                 7.0      beave101  Edward Beavens

   h_player_6_def_pos h_player_7_id h_player_7_name  h_player_7_def_pos  \
0                 4.0      mince101      Ed Mincher                 7.0
1                 4.0      braia102    Asa Brainard                 1.0
2                 2.0      sagep101      Pony Sager                 6.0
3                 7.0      duffe101        Ed Duffy                 6.0
4                 4.0      bells101    Steve Bellan                 5.0

  h_player_8_id  h_player_8_name  h_player_8_def_pos h_player_9_id  \
0      mcdej101  James McDermott                 8.0      kellb105
1      burrh101  Henry Burroughs                 9.0      berth101
2      birdg101      George Bird                 7.0      stirg101
3      pinke101       Ed Pinkham                 5.0      zettg101
4      pikel101         Lip Pike                 3.0      cravb101

   h_player_9_name  h_player_9_def_pos additional_info acquisition_info
0       Bill Kelly                 9.0             NaN                Y
1  Henry Berthrong                 8.0            HTBF                Y
2       Gat Stires                 9.0             NaN                Y
3  George Zettlein                 1.0             NaN                Y
4      Bill Craver                 6.0            HTBF                Y
            date  number_of_game day_of_week v_name v_league  v_game_number  \
171902  20161002               0         Sun    MIL       NL            162
171903  20161002               0         Sun    NYN       NL            162
171904  20161002               0         Sun    LAN       NL            162
171905  20161002               0         Sun    PIT       NL            162
171906  20161002               0         Sun    MIA       NL            161

       h_name h_league  h_game_number  v_score  h_score  length_outs  \
171902    COL       NL            162        6        4         60.0
171903    PHI       NL            162        2        5         51.0
171904    SFN       NL            162        1        7         51.0
171905    SLN       NL            162        4       10         51.0
171906    WAS       NL            162        7       10         51.0

       day_night completion forefeit protest park_id  attendance  \
171902         D        NaN      NaN     NaN   DEN02     27762.0
171903         D        NaN      NaN     NaN   PHI13     36935.0
171904         D        NaN      NaN     NaN   SFO03     41445.0
171905         D        NaN      NaN     NaN   STL10     44615.0
171906         D        NaN      NaN     NaN   WAS11     28730.0

        length_minutes v_line_score h_line_score  v_at_bats  v_hits  \
171902           203.0   0200000202   1100100010       39.0    10.0
171903           159.0    000001100    00100031x       33.0     8.0
171904           184.0    000100000    23000002x       30.0     4.0
171905           192.0    000020200    00100360x       35.0     9.0
171906           216.0    000230020    03023002x       38.0    14.0

        v_doubles  v_triples  v_homeruns  v_rbi  v_sacrifice_hits  \
171902        4.0        1.0         2.0    6.0               0.0
171903        3.0        0.0         0.0    2.0               0.0
171904        0.0        0.0         0.0    1.0               0.0
171905        0.0        0.0         1.0    4.0               0.0
171906        1.0        1.0         2.0    7.0               1.0

        v_sacrifice_flies  v_hit_by_pitch  v_walks  v_intentional_walks  \
171902                0.0             1.0      4.0                  0.0
171903                0.0             0.0      2.0                  0.0
171904                0.0             0.0      2.0                  0.0
171905                0.0             0.0      4.0                  0.0
171906                0.0             0.0      3.0                  2.0

        v_strikeouts  v_stolen_bases  v_caught_stealing  \
171902          12.0             2.0                1.0
171903           9.0             1.0                1.0
171904           7.0             0.0                0.0
171905          11.0             0.0                1.0
171906          10.0             1.0                1.0

        v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
171902                     0.0                           0.0             8.0
171903                     1.0                           0.0             6.0
171904                     1.0                           0.0             4.0
171905                     0.0                           0.0             8.0
171906                     1.0                           0.0             8.0

        v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
171902              7.0                       4.0                 4.0
171903              6.0                       3.0                 3.0
171904              7.0                       7.0                 7.0
171905              6.0                       8.0                 8.0
171906              7.0                      10.0                10.0

        v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  \
171902             1.0      0.0       30.0       12.0       1.0
171903             0.0      0.0       24.0       12.0       3.0
171904             0.0      0.0       24.0        5.0       1.0
171905             0.0      0.0       24.0        2.0       2.0
171906             1.0      0.0       24.0       11.0       0.0

        v_passed_balls  v_double_plays  v_triple_plays  h_at_bats  h_hits  \
171902             0.0             0.0             0.0       41.0    13.0

In [57]:
print(">>> Park Codes <<<")
park_codes.shape
print(park_codes.head())
print(park_codes.tail())

>>> Park Codes <<<
  park_id                           name  \
0   ALB01                 Riverside Park
1   ALT01                  Columbia Park
2   ANA01       Angel Stadium of Anaheim
3   ARL01              Arlington Stadium
4   ARL02  Rangers Ballpark in Arlington

                                        aka       city state       start  \
0                                       NaN     Albany    NY  09/11/1880
1                                       NaN    Altoona    PA  04/30/1884
2             Edison Field; Anaheim Stadium    Anaheim    CA  04/19/1966
3                                       NaN  Arlington    TX  04/21/1972
4  The Ballpark in Arlington; Ameriquest Fl  Arlington    TX  04/11/1994

          end league                                           notes
0  05/30/1882     NL  TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1  05/31/1884     UA                                             NaN
2         NaN     AL                                             NaN
3  10/03/1993     AL                                             NaN
4         NaN     AL                                             NaN
    park_id                                 name  aka           city state  \
247   WIL02        BB&T Ballpark at Bowman Field  NaN    Wiliamsport    PA
248   WNY01     West New York Field Club Grounds  NaN  West New York    NJ
249   WOR01   Agricultural County Fair Grounds I  NaN      Worcester    MA
250   WOR02  Agricultural County Fair Grounds II  NaN      Worcester    MA
251   WOR03       Worcester Driving Park Grounds  NaN      Worcester    MA

          start         end league  \
247  08/20/2017  08/20/2017     NL
248  09/11/1898  09/17/1899     NL
249  05/01/1880  09/29/1882     NL
250  08/17/1887  08/17/1887     NL
251  10/30/1874  10/30/1874    NaN

                                                      notes
247                                                     PIT
248  BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13&9/17/99
249                                                     NaN
250                                              1 BSN game
251                                              1 BS1 game

In [58]:
print(">>> Person Codes <<<")
person_codes.shape
print(person_codes.head())
print(person_codes.tail())

>>> Person Codes <<<
         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN
             id      last   first player_debut mgr_debut coach_debut ump_debut
20489  zuvep001   Zuvella    Paul   09/04/1982       NaN  04/02/1996       NaN
20490  zuveg101  Zuverink  George   04/21/1951       NaN         NaN       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

In [59]:
print(">>> Team Codes <<<")
#team_codes.shape
team_codes.tail()

>>> Team Codes <<<

    team_id league  start   end        city   nickname franch_id  seq
145     WS8     NL   1886  1889  Washington   Senators       WS8    1
146     WS9     AA   1891  1891  Washington   Senators       WS9    1
147     WSN     NL   1892  1899  Washington   Senators       WS9    2
148     WSU     UA   1884  1884  Washington  Nationals       WSU    1
149     MIA     NL   2012     0       Miami    Marlins       FLO    2

### Data Intersection between files

Each helper file contains a column with an ID number: park codes file has park_id, person codes file has id and team codes file has team_id. These IDs are used in the game_log file to identify persons, parks and teams.

In [60]:
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


### Defensive Positions

There are nine fielding positions in baseball. Each position conventionally has an associated number, which is used to score putouts: 
- 1 (pitcher)
- 2 (catcher)
- 3 (first baseman) 
- 4 (second baseman) 
- 5 (third baseman) 
- 6 (shortstop) 
- 7 (left fielder) 
- 8 (center fielder) 
- 9 (right fielder)

[Image of positions](https://goo.gl/images/uMggD1)

### Baseball Leagues
Let's find out how many leagues are present in out data

In [61]:
leagues = team_codes["league"].value_counts()
print(leagues)

NL    45
AL    25
AA    24
UA    13
FL     9
PL     8
Name: league, dtype: int64

Major League Baseball currently contains the following leagues:
- National League (NL) formed in 1876
- American League (AL) uses designated hitter rule to replace pitchers for at-bat

*Online research indicates that the leagues below no longer exists:*
- American Association (AA)
- United Association (UA)
- Federal League (FL)
- Player's League (PL)

[more information on Baseball leagues](https://en.wikipedia.org/wiki/List_of_organized_baseball_leagues#United_States)

### Importing data into SQLite

In [62]:
import sqlite3

def run_query(q):
    with sqlite3.connect('mlb.db') as conn:
        return pd.read_sql(q, conn)

def run_command(c):
    with sqlite3.connect('mlb.db') as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c) 
def show_tables():
    
    q = "SELECT name, type FROM sqlite_master WHERE type IN ('table','view');"
    return run_query(q)


# Open connection to database
conn = sqlite3.connect('mlb.db')

# Create database tables
game_log.to_sql('game_log', conn, index=False, if_exists='replace')

park_codes.to_sql('park_codes', conn, index=False, if_exists='replace')

person_codes.to_sql('person_codes', conn, index=False, if_exists='replace')

team_codes.to_sql('team_codes', conn, index=False, if_exists='replace')

# Show tables in database
show_tables()

# Add column to game_log table

c1 = """
        ALTER TABLE game_log
        ADD COLUMN game_id TEXT;
    """
try:
    run_command(c1)
except:
    pass
c2 = """
        UPDATE game_log
        SET game_id = date || h_name || number_of_game
        WHERE game_id IS NULL;
     """
try:
    run_command(c2)
except:
    pass

#check that values for game_id are being created correctly
q = """
        SELECT 
            game_id,
            date,
            h_name,
            number_of_game
        FROM game_log
        LIMIT 10;
    """

run_query(q)

        game_id      date h_name  number_of_game
0  18710504FW10  18710504    FW1               0
1  18710505WS30  18710505    WS3               0
2  18710506RC10  18710506    RC1               0
3  18710508CH10  18710508    CH1               0
4  18710509TRO0  18710509    TRO               0
5  18710511CL10  18710511    CL1               0
6  18710513CL10  18710513    CL1               0
7  18710513FW10  18710513    FW1               0
8  18710515FW10  18710515    FW1               0
9  18710516BS10  18710516    BS1               0

### Normalization Opportunities:

- From game_log table player attributes are repeated which are already contained in the player table
- From park_codes table the start and end dates can be derived from the game_log table
- From the person_codes table the player debut can be derived from the game_log table
- Player positions can be tracked in a player positions table.

In [63]:
# Create person table
c3="""
    CREATE TABLE IF NOT EXISTS person (
        person_id TEXT PRIMARY KEY,
        first_name TEXT,
        last_name TEXT
    );
    """
try:
    run_command(c3)
except:
    pass

#Insert values into person table
c="""
    INSERT OR IGNORE INTO person 
    SELECT
        id, 
        first, 
        last
    FROM person_codes;
    """
try:
    run_command(c)
except:
    pass


#output first 5 rows of table
q="""
    SELECT * FROM person LIMIT 5;
"""

run_query(q)
#show_tables()

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

In [64]:
#Create park table
c5 ="""
    CREATE TABLE IF NOT EXISTS park (
        park_id TEXT PRIMARY KEY,
        name TEXT,
        nickname TEXT,
        city TEXT,
        state TEXT,
        notes TEXT
    );
    """
try:
    run_command(c5)
except:
    pass


#Insert values into park table
c="""
    INSERT OR IGNORE INTO park
    SELECT
         park_id,
         name,
         aka,
         city,
         state,
         notes
    FROM park_codes;
    """
try:
    run_command(c)
except:
    pass

#output first 5 rows of table
q="""
    SELECT * FROM park LIMIT 5;
"""

run_query(q)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None

In [91]:
#Create appearance type table
at = pd.read_csv('appearance_type.csv')

at.to_sql('appearance_type', conn, index=False, if_exists='replace')

c1 ='''
    PRAGMA foreign_keys=off;'''

c2 ='''ALTER TABLE appearance_type RENAME TO old_table2;'''

c4 ='''
    /*create a new table with the same column names and types while
    defining a primary key for the desired column*/
    CREATE TABLE appearance_type (appearance_type_id TEXT PRIMARY KEY NOT NULL,
                            name TEXT,
                            category TEXT);'''
c5 ='''
    INSERT INTO appearance_type SELECT * FROM old_table2;'''

c6 ='''
    DROP TABLE old_table2;'''

c7 ='''
    PRAGMA foreign_keys=on;'''

run_command(c1)
run_command(c2)
run_command(c4)
run_command(c5)
run_command(c6)
run_command(c7)

#output first 5 rows of table
q="""
    SELECT * FROM old_table LIMIT 5;
"""

run_query(q)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense

In [66]:
#Create league table
c6 ="""
    CREATE TABLE IF NOT EXISTS league (
        league_id TEXT PRIMARY KEY,
        name TEXT
    );
    """
try:
    run_command(c6)
except:
    pass

#Insert values into league table
c7 ="""
    INSERT OR IGNORE INTO league (league_id,name) 
    VALUES ('AA', 'American Association'),
    ('AL', 'American League'),
     ('FL', 'Federal League'),
     ('NL', 'National League'),
     ('PL', 'Player''s League'),
     ('UA', 'United Association'),
     ('None', 'No league');
    """

try:
    run_command(c7)
except:
    pass


#output rows in table
q="""
    SELECT *FROM league;
"""

run_query(q)

  league_id                  name
0        AA  American Association
1        AL       American League
2        FL        Federal League
3        NL       National League
4        PL       Player's League
5        UA    United Association
6      None             No league

In [67]:
#Create team table
c12 ="""
    CREATE TABLE IF NOT EXISTS team(
        team_id TEXT PRIMARY KEY,
        league_id TEXT,
        city TEXT,
        nickname TEXT,
        franch_id TEXT,
    FOREIGN KEY (league_id) REFERENCES league(league_id)
    );
    """
try:
    run_command(c12)
except:
    pass

#Insert values into team table
c13 ="""
    INSERT OR IGNORE INTO team
    SELECT 
        team_id,
        league,
        city,
        nickname,
        franch_id
    FROM team_codes;
    """

run_command(c13)

#output rows in table
q="""
    SELECT *FROM team 
    LIMIT 5;
"""

run_query(q)

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1

In [68]:
#Create game table
c14 ="""
    CREATE TABLE IF NOT EXISTS game (
        game_id TEXT PRIMARY KEY,
        date TEXT,
        number_of_game INTEGER,
        park_id TEXT,
        length_outs INTEGER,
        day INTEGER,
        completion TEXT,
        forefeit TEXT,
        protest TEXT,
        attendance INTEGER,
        length_minutes INTEGER,
        additional_info TEXT,
        acquisition_info TEXT,
    FOREIGN KEY (park_id) REFERENCES park(park_id)
    );
    """
c15 ="""
        INSERT OR IGNORE INTO game
        SELECT
            game_id,
            date,
            number_of_game,
            park_id,
            length_outs,
            day_of_week,
            completion,
            forefeit,
            protest,
            attendance,
            length_minutes,
            additional_info,
            acquisition_info
        FROM game_log;
            
    """
run_command(c14)
run_command(c15)

q ="""
SELECT* FROM game
LIMIT 5;
"""

run_query(q)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forefeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,18710504FW10,18710504,0,FOR01,54,Thu,None,None,None,200,120,None,Y
1,18710505WS30,18710505,0,WAS01,54,Fri,None,None,None,5000,145,HTBF,Y
2,18710506RC10,18710506,0,RCK01,54,Sat,None,None,None,1000,140,None,Y
3,18710508CH10,18710508,0,CHI01,54,Mon,None,None,None,5000,150,None,Y
4,18710509TRO0,18710509,0,TRO01,54,Tue,None,None,None,3250,145,HTBF,Y

In [69]:
q ="""
    SELECT sql FROM sqlite_master
    WHERE name = "game_log"
    AND type = "table";
    """
run_query(q)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      sql
0  CREATE TABLE "game_log" (\n"date" INTEGER,\n  "number_of_game" INTEGER,\n  "day_of_week" TEXT,\n  "v_name" TEXT,\n  "v_league" TEXT,\n  "v_game_number" INTEGER,\n  "h_name" TEXT,\n  "h_league" TEXT,\n  "h_game_number" INTEGER,\n  "v_score" INTEGER,\n  "h_score" INTEGER,\n  "length_outs" REAL,\n  "day_night" TEXT,\n  "completion" TEXT,\n  "forefeit" TEXT,\n  "protest" TEXT,\n  "park_id" TEXT,\n  "attendance" REAL,\n  "length_minutes" REAL,\n  "v_line_score" TEXT,\n  "h_line_score" TEXT,\n  "v_at_bats" REAL,\n  "v_hits" REAL,\n  "v_doubles" REAL,\n  "v_triples" REAL,\n  "v_homeruns" REAL,\n  "v_rbi" REAL,\n  "v_sacrifice_hits" REAL,\n  "v_sacrifice_flies" REAL,\n  "v_hit_by_pitch" REAL,\n  "v_walks" REAL,\n  "v_intentional_walks" REAL,\n  "v_strikeouts" REAL,\n  "v_stolen_bases" REAL,\n  "v_caught_stealing" REAL,\n  "v_grounded_into_double" REAL,\n  "v_first_catcher_interference" REAL,\n  "v_left_on_base" REAL,\n  "v_pitchers_used" REAL,\n  "v_individual_earned_runs" REAL,\n  "v_team_earned_runs" REAL,\n  "v_wild_pitches" REAL,\n  "v_balks" REAL,\n  "v_putouts" REAL,\n  "v_assists" REAL,\n  "v_errors" REAL,\n  "v_passed_balls" REAL,\n  "v_double_plays" REAL,\n  "v_triple_plays" REAL,\n  "h_at_bats" REAL,\n  "h_hits" REAL,\n  "h_doubles" REAL,\n  "h_triples" REAL,\n  "h_homeruns" REAL,\n  "h_rbi" REAL,\n  "h_sacrifice_hits" REAL,\n  "h_sacrifice_flies" REAL,\n  "h_hit_by_pitch" REAL,\n  "h_walks" REAL,\n  "h_intentional_walks" REAL,\n  "h_strikeouts" REAL,\n  "h_stolen_bases" REAL,\n  "h_caught_stealing" REAL,\n  "h_grounded_into_double" REAL,\n  "h_first_catcher_interference" REAL,\n  "h_left_on_base" REAL,\n  "h_pitchers_used" REAL,\n  "h_individual_earned_runs" REAL,\n  "h_team_earned_runs" REAL,\n  "h_wild_pitches" REAL,\n  "h_balks" REAL,\n  "h_putouts" REAL,\n  "h_assists" REAL,\n  "h_errors" REAL,\n  "h_passed_balls" REAL,\n  "h_double_plays" REAL,\n  "h_triple_plays" REAL,\n  "hp_umpire_id" TEXT,\n  "hp_umpire_name" TEXT,\n  "1b_umpire_id" TEXT,\n  "1b_umpire_name" TEXT,\n  "2b_umpire_id" TEXT,\n  "2b_umpire_name" TEXT,\n  "3b_umpire_id" TEXT,\n  "3b_umpire_name" TEXT,\n  "lf_umpire_id" TEXT,\n  "lf_umpire_name" TEXT,\n  "rf_umpire_id" TEXT,\n  "rf_umpire_name" TEXT,\n  "v_manager_id" TEXT,\n  "v_manager_name" TEXT,\n  "h_manager_id" TEXT,\n  "h_manager_name" TEXT,\n  "winning_pitcher_id" TEXT,\n  "winning_pitcher_name" TEXT,\n  "losing_pitcher_id" TEXT,\n  "losing_pitcher_name" TEXT,\n  "saving_pitcher_id" TEXT,\n  "saving_pitcher_name" TEXT,\n  "winning_rbi_batter_id" TEXT,\n  "winning_rbi_batter_id_name" TEXT,\n  "v_starting_pitcher_id" TEXT,\n  "v_starting_pitcher_name" TEXT,\n  "h_starting_pitcher_id" TEXT,\n  "h_starting_pitcher_name" TEXT,\n  "v_player_1_id" TEXT,\n  "v_player_1_name" TEXT,\n  "v_player_1_def_pos" REAL,\n  "v_player_2_id" TEXT,\n  "v_player_2_name" TEXT,\n  "v_player_2_def_pos" REAL,\n  "v_player_3_id" TEXT,\n  "v_player_3_name" TEXT,\n  "v_player_3_def_pos" REAL,\n  "v_player_4_id" TEXT,\n  "v_player_4_name" TEXT,\n  "v_player_4_def_pos" REAL,\n  "v_player_5_id" TEXT,\n  "v_player_5_name" TEXT,\n  "v_player_5_def_pos" REAL,\n  "v_player_6_id" TEXT,\n  "v_player_6_name" TEXT,\n  "v_player_6_def_pos" REAL,\n  "v_player_7_id" TEXT,\n  "v_player_7_name" TEXT,\n  "v_player_7_def_pos" REAL,\n  "v_player_8_id" TEXT,\n  "v_player_8_name" TEXT,\n  "v_player_8_def_pos" REAL,\n  "v_player_9_id" TEXT,\n  "v_player_9_name" TEXT,\n  "v_player_9_def_pos" REAL,\n  "h_player_1_id" TEXT,\n  "h_player_1_name" TEXT,\n  "h_player_1_def_pos" REAL,\n  "h_player_2_id" TEXT,\n  "h_player_2_name" TEXT,\n  "h_player_2_def_pos" REAL,\n  "h_player_3_id" TEXT,\n  "h_player_3_name" TEXT,\n  "h_player_3_def_pos" REAL,\n  "h_player_4_id" TEXT,\n  "h_player_4_name" TEXT,\n  "h_player_4_def_pos" REAL,\n  "h_player_5_id" TEXT,\n  "h_player_5_name" TEXT,\n  "h_player_5_def_pos" REAL,\n  "h_player_6_id" TEXT,\n  "h_player_6_name" TEXT,\n  "h_player_6_def_pos" REAL,\n  "h_player_7_id" TEXT,\n  "h_player_7_name" TEXT,\n  "h_player_7_def_pos" REAL,\n  "h_player_8_id" TEXT,\n  "h_player_8_name" TEXT,\n  "h_player_8_def_pos" REAL,\n  "h_player_9_id" TEXT,\n  "h_player_9_name" TEXT,\n  "h_player_9_def_pos" REAL,\n  "additional_info" TEXT,\n  "acquisition_info" TEXT\n, game_id TEXT)

In [70]:
#create team_appearance table
c16 ="""
    CREATE TABLE IF NOT EXISTS team_appearance (
        team_id TEXT,
        game_id TEXT,
        home INTEGER,
        league_id TEXT,
        score INTEGER,
        line_score INTEGER,
        at_bats INTEGER,
        hits INTEGER,
        doubles INTEGER,
        triples INTEGER,
        homeruns INTEGER,
        rbi INTEGER,
        sacrifice_hits INTEGER,
        sacrifice_flies INTEGER,
        hit_by_pitch INTEGER,
        walks INTEGER,
        intentional_walks INTEGER,
        strikeouts INTEGER,
        stolen_bases INTEGER,
        caught_stealing INTEGER,
        grounded_into_double INTEGER,
        first_catcher_interference INTEGER,
        left_on_base INTEGER,
        pitcher_used INTEGER,
        individual_earned_runs INTEGER,
        team_earned_runs INTEGER,
        wild_pitches INTEGER,
        balks INTEGER,
        putouts INTEGER,
        assists INTEGER,
        errors INTEGER,
        passed_balls INTEGER,
        double_plays INTEGER,
        triple_plays INTEGER,
    PRIMARY KEY (team_id, game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (league_id) REFERENCES league(league_id)
    );
    """

c17 ="""
    INSERT OR IGNORE INTO team_appearance
        SELECT 
            h_name,
            game_id,
            1 AS home,
            h_league,
            h_score,
            h_line_score,
            h_at_bats,
            h_hits,
            h_doubles,
            h_triples,
            h_homeruns,
            h_rbi,
            h_sacrifice_hits,
            h_sacrifice_flies,
            h_hit_by_pitch,
            h_walks,
            h_intentional_walks,
            h_strikeouts,
            h_stolen_bases,
            h_caught_stealing,
            h_grounded_into_double,
            h_first_catcher_interference,
            h_left_on_base,
            h_pitchers_used,
            h_individual_earned_runs,
            h_team_earned_runs,
            h_wild_pitches,
            h_balks,
            h_putouts,
            h_assists,
            h_errors,
            h_passed_balls,
            h_double_plays,
            h_triple_plays
        FROM game_log
        
    UNION

        SELECT    
            v_name,
            game_id,
            0 AS home,
            v_league,
            v_score,
            v_line_score,
            v_at_bats,
            v_hits,
            v_doubles,
            v_triples,
            v_homeruns,
            v_rbi,
            v_sacrifice_hits,
            v_sacrifice_flies,
            v_hit_by_pitch,
            v_walks,
            v_intentional_walks,
            v_strikeouts,
            v_stolen_bases,
            v_caught_stealing,
            v_grounded_into_double,
            v_first_catcher_interference,
            v_left_on_base,
            v_pitchers_used,
            v_individual_earned_runs,
            v_team_earned_runs,
            v_wild_pitches,
            v_balks,
            v_putouts,
            v_assists,
            v_errors,
            v_passed_balls,
            v_double_plays,
            v_triple_plays
        FROM game_log;
"""
run_command(c16)
run_command(c17)

q ="""
    SELECT *FROM team_appearance
    LIMIT 5;
    """
run_query(q)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitcher_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,18840417CNU0,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,18840418CNU0,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,ALT,18840419CNU0,0,UA,6,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,ALT,18840424SLU0,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,ALT,18840426SLU0,0,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [71]:
#Show teams with highest homeruns
q ="""
    SELECT * from team_appearance
    ORDER BY homeruns DESC
    LIMIT 5;
"""

run_query(q)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitcher_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,TOR,19870914TOR0,1,AL,18,05211171x,44,21,2,0,10,18,0,0,0,4,0,4,0,0,1,0,6,3,3,3,1,0,27,10,0,0,1,0
1,ATL,20060528CHN0,0,NL,13,15011310001,51,18,3,0,8,13,1,0,0,4,0,18,0,0,1,0,10,7,10,10,0,0,33,16,3,0,2,0
2,BAL,20150616BAL0,1,AL,19,63311302x,39,17,2,0,8,17,0,1,1,8,0,7,0,0,2,1,7,4,3,3,1,0,27,8,1,0,2,0
3,BOS,20130904BOS0,1,AL,20,02111852x,41,19,4,0,8,20,0,1,2,4,1,10,1,0,1,0,4,4,4,4,0,0,27,8,0,0,0,0
4,CIN,19560818CIN0,1,NL,13,01401034x,37,14,1,0,8,13,1,1,0,3,0,3,0,0,0,0,5,2,4,4,2,0,27,15,0,0,0,0

In [72]:
q1 = """
    SELECT *FROM game_log

    LIMIT 2;
"""

run_query(q1)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info,game_id
0,18710504,0,Thu,CL1,None,1,FW1,None,1,0,2,54.0,D,None,None,None,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,None,6.0,1.0,None,-1.0,None,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,None,0.0,0.0,None,-1.0,None,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,None,None,None,None,None,None,None,None,None,None,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,None,None,None,None,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,None,Y,18710504FW10
1,18710505,0,Fri,BS1,None,1,WS3,None,1,20,18,54.0,D,None,None,None,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,None,5.0,3.0,None,-1.0,None,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,None,2.0,1.0,None,-1.0,None,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,None,None,None,None,None,None,None,None,None,None,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,None,None,None,None,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y,18710505WS30

In [73]:
#Create person_appearance table
c ="""
    CREATE TABLE IF NOT EXISTS person_appearance (
        appearance_id INTEGER PRIMARY KEY,
        game_id TEXT,
        team_id TEXT,
        person_id TEXT,
        appearance_type_id TEXT,
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
    );"""

run_command(c)

In [94]:
c ="""INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
)
    SELECT
        game_id,
        NULL,
        lf_umpire_id,
        "ULF"
    FROM game_log
    WHERE lf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        rf_umpire_id,
        "URF"
    FROM game_log
    WHERE rf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        hp_umpire_id,
        "UHP"
    FROM game_log
    WHERE hp_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [1b_umpire_id],
        "U1B"
    FROM game_log
    WHERE [1b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [2b_umpire_id],
        "U2B"
    FROM game_log
    WHERE [2b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [3b_umpire_id],
        "U3B"
    FROM game_log
    WHERE [3b_umpire_id] IS NOT NULL
        
UNION

    SELECT
        game_id,
        v_name,
        v_manager_id,
        "MM"
    FROM game_log
    WHERE v_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        h_name,
        h_manager_id,
        "MM"
    FROM game_log
    WHERE h_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_pitcher_id,
        "AWP"
    FROM game_log
    WHERE winning_pitcher_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_rbi_batter_id,
        "AWB"
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL

UNION
    SELECT
        game_id,
        CASE
            WHEN h_score < v_score THEN h_name
            ELSE v_name
            END,
        losing_pitcher_id,
        "ALP"
    FROM game_log
    WHERE losing_pitcher_id IS NOT NULL
    
UNION
    SELECT
        game_id,
        h_name,
        h_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL
    
UNION
    SELECT
        game_id,
        v_name,
        v_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL
    
UNION
    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        saving_pitcher_id,
        "ASP"
    FROM game_log
    WHERE saving_pitcher_id IS NOT NULL 
"""

run_command(c)

template = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

"""


for hv in ["h","v"]:
    for num in range(1,9):
        query_vars = {
            "hv": hv,
            "num": num
        }
        # run commmand is a helper function which runs
        # a query against our database.
        run_command(template.format(**query_vars))

template2 = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""

for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        # run commmand is a helper function which runs
        # a query against our database.
        run_command(template2.format(**query_vars))

OperationalError: foreign key mismatch - "person_appearance" referencing "old_table"

In [92]:
q = """pragma table_info(appearance_type);""" 
run_query(q)

   cid                name  type  notnull dflt_value  pk
0    0  appearance_type_id  TEXT        1       None   1
1    1                name  TEXT        0       None   0
2    2            category  TEXT        0       None   0